<section id="about">
  <!-- About Header -->
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../assets/images/abstract-studio-background-texture-light-blue-gray-gradient-wall-flat-floor-product.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div
          class="text-white text-center position-absolute top-50 start-50 translate-middle"
        >
          <h2 class="h1">About Us</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- About Text -->
  <div class="text container pb-5">
    <p class="py-3">
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque atque
      minus consectetur officia tempora in voluptate, molestiae autem inventore
      maiores dolores eos eligendi rerum dolore magni, similique perferendis
      soluta.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque atque
      minus consectetur officia tempora in voluptate, molestiae velit autem
      inventore maiores dolores eos eligendi rerum dolore magni, similique
      perferendis soluta.
    </p>
    <p class="py-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque atque
      minus consectetur officia tempora in voluptate, molestiae velit autem
      inventore maiores dolores eos eligendi rerum dolore magni, similique
      perferendis soluta."
    </p>
  </div>
</section>
