#about {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
  z-index: 0;
}
#carouselExampleFade {
  height: 100vh;
  overflow: hidden;
}

.carousel-inner {
  height: 60%;
}

.carousel-item {
  position: relative;
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}
.text {
  font-size: 24px;
  line-height: normal;
  margin-top: calc(-35vh);
}
/* Media Query For Responsive Design */
@media (max-width: 767px) {
  .text {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .text {
    font-size: 21px;
  }
}
