<section id="home">
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../assets/images/abstract-studio-background-texture-light-blue-gray-gradient-wall-flat-floor-product.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div
          class="text-white text-center position-absolute top-50 start-50 translate-middle"
        >
          <h2>FAQ Design</h2>
          <h5 class="pt-3">By Nader Gamal</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/images/abstract-studio-background-texture-light-blue-gray-gradient-wall-flat-floor-product.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div
          class="text-white text-center position-absolute top-50 start-50 translate-middle"
        >
          <h2>Using Angular</h2>
          <h5 class="pt-3">By Nader Gamal</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/images/abstract-studio-background-texture-light-blue-gray-gradient-wall-flat-floor-product.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div
          class="text-white text-center position-absolute top-50 start-50 translate-middle"
        >
          <h2>SAP App</h2>
          <h5 class="pt-3">By Nader Gamal</h5>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon carsouel-icon"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon carsouel-icon"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <app-faq></app-faq>
</section>
<div class="triangle"></div>
