.header {
  margin-top: calc(-20vh);
  position: relative;
  z-index: 0;
}
.custom-btn {
  background-color: #93cee0;
  padding: 30px 40px;
  border: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.card {
  border: none;
}
.card-body {
  padding: 0;
}
.active-tab {
  background-color: #fff !important; /* Background color for active tab */
  border: none;
}
/* reset style */
.accordion {
  --bs-accordion-border-color: transparent;
  --bs-accordion-btn-focus-box-shadow: transparent;
  --bs-accordion-active-bg: transparent;
}
.accordion-body {
  padding: 0 var(--bs-accordion-body-padding-x);
}
.accordion-button::after {
  margin-left: 1rem;
}
.h5 {
  margin-bottom: 0;
}
/* Media Query For Resposnice Design */
@media (max-width: 767px) {
  .custom-btn {
    padding: 30px 20px;
    font-size: 16px;
  }
  .accordion-button h5 {
    font-size: 14px;
  }
}
